In [ ]:
#1
a = 15
b = 4
#Finding sum
sum = a+b

#Difference
Diff = a - b

#Product
prod = a * b

#Division
div = a / b

#FLoor Division
fdiv = a // b

#modulus
mod = a % b

print (sum)
print (Diff)
print (prod)
print(div)
print(fdiv)
print(mod)

19
11
60
3.75
3
3

In [ ]:
#2
num1 = 10
num2 = 5.6
num3 = 4.43
#num to float
print(float(num1))
#float to int
print(int(num2))
#float to str
print(str(num3))

10.0
5
4.43

In [6]:
#3
fruits = ["apple", "banana", "cherry", "coconut", "pineapple", "mango", "orange"]
#1st fruit
print(fruits[0])
#last fruit(-ve indexing)
print(fruits[-1])
#4th fruit
print(fruits[3])

apple
orange
coconut

In [ ]:
#4
numbers = [10, 20, 30, 40, 50]
#1st 3
print(numbers[:3])

#last 2
print(numbers[-2:])

#all except the 1st
print(numbers[1:])

#all except the last
print(numbers[:-1])

#Reverse
print(numbers[::-1])

#every 2nd
print(numbers[::2])

[10, 20, 30]
[40, 50]
[20, 30, 40, 50]
[10, 20, 30, 40]
[50, 40, 30, 20, 10]
[10, 30, 50]

In [ ]:
#5
nums = [1, 2, 3]
#add no 10 in the last
nums.append(10)
nums

[1, 2, 3, 10]

In [13]:
#6
nums = [1, 2, 3]
#insert 99 at index 1
nums.insert(1, 99)
nums

[1, 99, 2, 3]

In [15]:
#7
nums = [1, 2, 3]
#adding
nums.extend([4, 5])
nums

[1, 2, 3, 4, 5]

In [16]:
#8
nums = [4, 1, 3, 2]
#Asscending order
nums.sort()
nums

[1, 2, 3, 4]

In [17]:
#9
order = ["burger", "fries", "coke"]
#add icecream
order.append("icecream")
#remove biryani
order.remove("burger")
order

['fries', 'coke', 'icecream']

In [18]:
#10
passengers = ["Ali", "Zara", "Ahmed"]
#Insert sara at 2
passengers.insert(2, "Sara")
#remove zara
passengers.remove("Zara")
#reversed order
print(passengers[::-1])

passengers

['Ahmed', 'Sara', 'Ali']

['Ali', 'Sara', 'Ahmed']